@import "../../assets/scss/main.scss";

.design {
  display: grid;
  place-items: center;
  background-image: url("../../assets/images/design-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 78rem;
  height: 100%;
  padding: 0;
  &-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 78rem;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 3rem;
  }
  &-image {
    width: 29rem;
    margin: 3rem 0;
  }
  &-text {
    border-left: 0.1rem solid $gray;
    margin: 3rem 1rem;
    padding-left: 3rem;
    h3 {
      margin: 1rem 0 2rem 0;
    }
  }
}

@include bp-tab {
  .design {
    &-image {
      width: 50rem;
      padding: 0 2rem;
    }
    &-text {
      border-left: none;
      text-align: center;
      padding: 0 5rem;
      margin: 3rem 0;
    }
  }
}
@include bp-tab-md {
  .design {
    &-container {
      flex-direction: row;
    }
    &-text {
      text-align: left;
      width: 50rem;
      border: none;
      margin: 0;
    }
    &-image {
      width: 50rem;
      padding: 0 2rem;
      margin: 0 2rem 0 -4rem;
    }
  }
}

@include bp-lap {
  .design {
    &-text {
      width: 60rem;
    }
    &-image {
      width: 60rem;
      padding: 0 2rem;
      margin-right: 0;
    }
  }
}
